<!doctype html>
<html>

<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
        type="text/css">
</head>

<body>
    <div class="container">
        <div class="content-container">
            <div class="header-text">
                <h1>Find Me Food</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            </div>
            <!-- LOCAL INFORMATION -->
            <div class="user-info">
                <!-- CHANGES-START -->
                <div class="profile-container">
                    <h2>Profile</h2>
                    <p>
                        <strong>Area</strong>:<br>
                        <span id="user-zipcode">
                            <%= user.local.zipcode %>
                        </span>
                    </p>
                    <p>
                        <strong>Instructions</strong>:<br><span>
                            Using your location's ZIP code, (not your full address) this program finds nearby stores,
                            displaying their locations on a map, along with product details and prices, helping you find
                            the closest and most affordable options.
                        </span><br>
                        <span>
                    </p>
                    <h3>Favorited Addresses</h3>
                    <div id="favorited-addresses">
                        <ul>
                          <% for(var i=0; i<favorites.length; i++) { %>
                            <li class="favorites">
                              <span><%= favorites[i].name %></span>
                              <span><i class="fa fa-trash" aria-hidden="true" data-id="<%= favorites[i]._id %>"></i></span>
                            </li>
                          <% } %>
                        </ul>
                      </div>
                    <h3>Search</h3>
                    <% if (user.local.email) { %>
                        <form autocomplete="off">
                            <input type="text" name="product-search" class="form-control" placeholder="Search for item"
                                id="user-input">
                            <datalist id="autocomplete-options"></datalist>
                            <button type="button" class="btn btn-primary" id='user-button'>Search</button>
                        </form>
                        <% } %>
                            <!-- CHANGES-END -->
                </div>
            </div>
            <!-- MAP SECTION -->

            <div id='map-section'>
                <h2 id="my-map">My Map</h2>
                <div id="map"></div>
            </div>
        </div>
    </div>
    <script>
       const favoritesArray = <%- JSON.stringify(favorites) %>
        </script>
    <script src="main.js"></script>
    <!-- CHANGES-START -->
    <script
        src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <script type="text/javascript"></script>
    <!-- CHANGES-END -->

</body>

</html>