* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  word-wrap: break-word;
  background-color: #769FB6;
}

.container {
  width: 85%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    /* display: flex; */
    background-color: #E2DBBE;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  border: 2px #9DBBAE solid;
  border-radius: 5%;
  padding: 0px 0px 20px 0px;
}

.header-text {
  text-align: center;
  width: 100%;
}

.user-info {
  width: 25%;
}

#map-section {
  width: 68%;
    text-align: center;
}

#my-map {
  text-align: center;
}

h1 {
  width: 100%;
    text-align: center;
    font-size: 36px;
    color: #188FA7;
}

h2 {
  width: 40%;
  color: #769fb6;
  margin: 0;
} 

h3 {
  color: #769fb6;
  margin: .5px
}

a {
  text-align: center;
  text-decoration: none;
}

b, strong {
  color: #769fb6;
}

.btn-primary {
  width: 100%;
  color: white;
  background-color: #769fb6;
  border-color: #769fb6;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #63c4ea;
  border-color: #63c4ea;
}

.fa-map-marker {
  color: #63c4ea;
  font-size: 2em;
  margin-right: 10px;
}

.favorite-map-marker {
  color: #E2DBBE;
  font-size: 2em;
  margin-right: 10px;
}

form {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

body > div > form > div:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #63c4ea;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  width: 100%;
}

.btn-link {
  color: #63c4ea;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

form label {
  font-size: 16px;
  color: #188FA7;
}

.btn-submit {
  display: block;
  width: 100%;
  background-color: #63c4ea;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #63c4ea;
}


/* Set the size of the div element that contains the map */
#map {
  text-align: center;
  border-radius: 20px;
  height: 400px; /* The height is 400 pixels */
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
  background-color: #769FB6;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 70%;
    width: 70%;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #769FB6 !important;
  color: #ffffff;
}
.btn-sm
{
  color: white;
  text-align: center;
  text-decoration: none;
  text-align: center;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  background-color: #769FB6;
  border-color: #769FB6;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#favorited-addresses {
  height: 100px;
  overflow-y: scroll;
  background: #769fb6;
  border-radius: 5px;
  color: white;
}
